#Calculator{
    border: 1px solid rgb(27, 22, 13);
    border-radius: 5px;
    width: 200px;
}
#display{
    margin: 10px;
    width: 87%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 30px;
    margin: 4px;
}